/** Admin Styles **/
.context-plugin-form.context-plugin-form-context_condition_detect_mobile {
  max-height:850px;
  overflow-x:hidden;
  overflow-y:auto.
}

.context-condition-detect-mobile-options-form-devices .form-item {
  display: block;
  float: left;
  width: 30%;
  margin:5px !important;
}

.context-condition-detect-mobile-options-form-devices .form-item .device-id {
  text-align: center;
}

.context-condition-detect-mobile-options-form-error {
  color:#965 !important;
  background-color:#ffe4e0 !important;
}

.context-condition-detect-mobile-options-form-devices .form-item.warning {
  color:#a84 !important;
  background-color:#fff4c0 !important;
 }

.context-condition-detect-mobile-options-form-devices .form-item.ok {
  color:#687 !important;
  background-color:#ecf8f4 !important;
}